.container {
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
}

.title {
    padding-left: 15px;
    font-size: 24px;
}