.button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: .3s background-color, .2s translate;
    color: white;

    &:active {
        translate: 0 1px;
    }
}

.primary {
    background-color: #00CECB;

    &:hover {
        background-color: #03aaa7;
    }
}

.danger {
    background-color: #FF7574;

    &:hover {
        background-color: #fb4a4a;
    }
}

.secondary {
    background-color: #ECBC49;
    
    &:hover {
        background-color: #cb9d33;
    }
}